* {
    box-sizing: border-box;
}

#buttons {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#search-area {
    float: right;
    width: 30%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    z-index: 2;
}

#gifs {
    float: left;
    width: 70%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    z-index:0;
}

input {
    width: 70%;
}

.term {
    background: #4b637e;
    color: white;
    font-size: 15px;
}

#clear,#add-button {
    background: #4b637e;
    color: white;
}

div {
    display: inline;
    float: inherit;
}

.result {
    margin-right: 3px;
}

@media only screen and (max-width: 980px) {
    img{
        width: 80%;
    }
}